.header {
  height: 110px;
  width: 100%;
  position: absolute;
  top: -10px; 
  padding: 10px 0 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}