.tab {
  height: 20px;
  width: 100px;
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0.05rem;
  margin: 0 5px;
  color: #414d58;
  font-weight: bold;
}

.tab:hover {
  cursor: pointer;
}

.active {
  background-color: #0f203d;
  color: white;
}