.tabselector {
  height: 60px;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  position: sticky;
  top: 175px;
  border-radius: 0.5rem;
  padding: 0 10px
  
}