.demopage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px 0 100px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 100px;
  min-height: 500px;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}