.ocrpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f203d;
  color: white;
  height: 50px;
  width: 300px;
  padding: 10px;
  border-radius: 0.5rem;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.15rem;
}

.uploadbutton:hover {
  cursor: pointer;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  color: #a7b3be;
  margin-bottom: 50px;
  font-size: 28px;
  border-radius: 1rem;
  border: dashed 4px #a7b3be;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
}